<div class="container-menu-bar">
    <div class="logo-menu-bar">
        <img src="../../../assets/logo-blog.jpg" alt="logo-blog">
        <h3>Appux</h3>
    </div>

    <div class="menu-bar">
        <ul>
            <li><a [routerLink]="['']">Home</a></li>
            <li><a href="#">Case Studies</a></li>
            <li><a href="#">Portfolios</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Resource</a></li>
            <li>
                <button>
                    Hire Us
                </button>
            </li>
        </ul>
    </div>
</div>
