<div class="container-menu-bar">
    <div class="logo-menu-bar">
        <img src="../../../assets/logo-blog.jpg" alt="logo-blog">
        <h3>Appux</h3>
    </div>

    <div class="menu-bar">
        <ul>
            <li><a 
                    [routerLink]="['']"
                    [routerLinkActive]="['activated']"
                    [routerLinkActiveOptions]="{exact: true}"    
                >Home</a></li>
            
            <li><a 
                [routerLink]="['case-studies']" 
                [routerLinkActive]="['activated']"
                >Case Studies</a></li>

            <li><a 
                [routerLink]="['blogs']" 
                [routerLinkActive]="['activated']"
                >Blog</a></li>

            <li><a 
                [routerLink]="['resource']" 
                [routerLinkActive]="['activated']"
                >Resource</a></li>
                
            <li>
                <button>
                    Hire Us
                </button>
            </li>
        </ul>
    </div>
</div>
